*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font: inherit;
}
