*,
*::before,
*::after {
  font-family: 'PlusJakartaSans',sans-serif;
  box--sizing: rder-box;
}
body {
  min-height: 100vh;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font: inherit;
}
