:root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: hsl(211, 68%, 94%);
  font-size: 16px;
  line-height: 1.5;
  color: hsl(224, 21%, 14%);
  width: 80%;
}
.container {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}
h1 {
  font-size: 20px;
}
.number-of-notifications {
  padding-block: 1px;
  padding-inline: 12px;
  background-color: hsl(219, 85%, 26%);
  border-radius: 25%;
  color: hsl(0, 0%, 100%);
}
img {
  border-radius: 50%;
  width: 50px;
}
button,
.notification {
  cursor: pointer;
}
button {
  background: none;
  font: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.notification time {
  display: block;
}
